:root {
  --heading-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --accent-font: "Courier New", Courier, monospace;
  --default-font: Arial, Helvetica, sans-serif;

  --primary-color: #113B6F;
  --secondary-color: #23B9D9;
  --secondary-dark-color: #1A8AAE;
  --background-color: #f6f6f6;
  --accent-color: #646cff;
  --accent-dark-color: #4646ff;
  /* --accent-dark-color: #646cffaa; */
  --warning-color: #ff6464;
  --warning-dark-color: #ff4646;
  --text-color: #333333;

  width: 100vw;
  margin: 0 auto;
  background-color: var(--background-color);
  justify-self: start;
}

.App {
  margin: 0 auto;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  text-align: center;
}

.AppContainer {
  min-height: 100vh;
  height: 100%;
  padding: 0.5rem 2rem 0 2rem;
  background-color: var(--primary-color);
}

.backBtn {
  margin: 0 auto;
  background: none;
  border: none;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1rem 2rem;
}

.logo {
  width: 8rem;
}

.gsIcon {
  width: 1.5rem;
  border-radius: 8px;
}

nav .logoutBtn {
  margin: 0 0.5rem;
  padding: 0;
}

.logoutBtn {
  margin: 1rem 0.5rem 0 0.5rem;
  padding: 0;
  width: 5.5rem;
  height: 2.25rem;
  border: 1px solid var(--warning-color);
  border-radius: 8px;
  background-color: var(--warning-color);
  will-change: filter;
  transition: filter 300ms;
  cursor: pointer;
}

.logoutBtn:hover {
  filter: drop-shadow(0 0 0.45rem var(--warning-dark-color));
  border: 1px solid var(--warning-color);
}

.authHub {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  gap: 1.5rem;
  border: 1px solid var(--background-color);
  border-radius: 12px;
}

.authForm {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1rem;
  align-items: center;
}

.authBtn {
  margin: 0.5rem;
  padding: 0.25rem 1.5rem;
  width: 7rem;
  height: 2rem;
  border-radius: 8px;
  background-color: var(--accent-color);
  will-change: filter;
  transition: filter 300ms;
  cursor: pointer;
}

.authBtn:hover {
  filter: drop-shadow(0 0 0.5rem var(--accent-dark-color));
}

.authBtn a {
  color: white;
}

.createAccount {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* ---------- DASHBOARD STYLES ---------- */
.userEventList {
  margin: 1rem auto;
  max-width: 700px;
  text-align: start;
}

.createBtns {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* ---------- FORM STYLES ---------- */
.AddVenue, .AddEvent form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 60%;
}

.formGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.25rem;
}

.formGroup label {
  text-align: start;
  width: 30%;
  display: block;
}

.formGroup input {
  width: 70%;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid var(--background-color);
}

.formGroup input:focus {
  outline: none;
  border-color: var(--accent-color);
  box-shadow: 0 0 0.5rem var(--accent-color);
}

.AddEvent textarea {
  width: 70%;
  max-width: 68.6%;
  min-width: 68.6%;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid var(--background-color);
}

.venueGroup {
  border: 1px solid var(--background-color);
  padding: 1rem;
  border-radius: 8px;
}

.createBtn {
  background-color: var(--secondary-color);
  color: black;
  border: none;
  border-radius: 8px;
  margin: 1rem 0 2rem;
  padding: 0.5rem 1rem;
  will-change: filter;
  transition: filter 300ms;
  cursor: pointer;
}

.createBtn:hover {
  filter: drop-shadow(0 0 0.5rem var(--secondary-dark-color));
}

.createBtn a {
  color: black;
}

/* ---------- RESPONSIVE DESIGN ----------*/
@media (max-width: 960px) {

}

@media (max-width: 767px) {

}

@media (max-width: 575px) {

}