:root {
  --heading-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --accent-font: "Courier New", Courier, monospace;
  --default-font: Arial, Helvetica, sans-serif;

  --primary-color: #113B6F;
  --primary-dark-color: #0A2647;
  --primary-darkest-color: #051223;
  --secondary-color: #23B9D9;
  --secondary-lightest-color: #A6F0FF;
  --secondary-light-color: #5EE3FF;
  --secondary-dark-color: #1A8AAE;
  --background-color: #f6f6f6;
  --background-dark-color: #333333;
  --accent-color: #646cff;
  --accent-dark-color: #4646ff;
  /* --accent-dark-color: #646cffaa; */
  --warning-color: #ff6464;
  --warning-dark-color: #ff4646;
  --text-color: #151515;
  
  margin: 0 auto;
  width: 100vw;
  background-color: var(--background-color);
  justify-content: start;
}

/* ------------- APP STYLES ------------- */

.App {
  margin: 0 auto;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  text-align: center;
}

.AppContainer {
  min-height: 100vh;
  height: 100%;
  padding: 0.5rem 2rem 3.5rem 2rem;
  background-color: var(--primary-color);
}

/* ---------- CONSTANTS STYLES ---------- */

.backBtn {
  margin: 0 auto;
  background: none;
  border: none;
  cursor: pointer;
}

/* ---------- MODAL CSS ---------- */

.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0,0,0,0.6);
}

.modal-content {
  position: relative;
  width: 60%;
  min-width: 400px;
  background-color: var(--secondary-light-color);
  color: var(--text-color);
  padding: 2rem;
  border-radius: 25px;
}

.modal-close {
  position: absolute;
  top: -5px;
  right: -10px;
  background: transparent;
  color: var(--text-color);
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

.modal-actions {
  display: flex;
  justify-content: space-around;
}


/* ---------- NAVBAR STYLES ---------- */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1rem 2rem;
  /* overflow: hidden; */
  position: relative;
}

.navGroup {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* ---------- NAV MENU STYLES ---------- */

/* --- Hide the links inside the navigation menu (except for logo/home) --- */
.navBar .navLinks {
  display: none;
}

/* --- Show the links inside the navigation menu (except for logo/home) --- */
.navBar .navLinks.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 4rem;
  right: 2rem;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navBar .navLinks.open a {
  padding: 0.5rem 1.25rem;
  border-radius: 8px;
  color: var(--text-color);
  transition: all ease-in-out 200ms;
  background-color: var(--secondary-color);
}

.navBar .navLinks.open a:hover {
  filter: drop-shadow(0 0 0.3rem var(--secondary-color));
  background-color: var(--background-color);
}

/* ----- NAV ICONS ---- */

.logo {
  width: 8rem;
}

.gsIcon {
  width: 1.5rem;
  border-radius: 8px;
}

.menuIcon {
  color: var(--primary-color);
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  cursor: pointer;
}

/* ---------- BUTTON STYLES ---------- */

nav .logoutBtn {
  margin: 0 0.5rem;
  padding: 0;
}

.logoutBtn {
  margin: 1rem 0.5rem;
  padding: 0;
  width: 5.5rem;
  height: 2.25rem;
  border: 1px solid var(--warning-color);
  border-radius: 8px;
  background-color: var(--warning-color);
  will-change: filter;
  transition: filter 300ms;
  cursor: pointer;
}

.logoutBtn:hover {
  filter: drop-shadow(0 0 0.45rem var(--warning-dark-color));
  border: 1px solid var(--warning-color);
}

.authHub {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  gap: 1.5rem;
  border: 1px solid var(--background-color);
  border-radius: 12px;
}

.authForm {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1rem;
  align-items: center;
}

.authBtn {
  margin: 0.5rem;
  padding: 0.25rem 1.5rem;
  width: 7rem;
  height: 2rem;
  border-radius: 8px;
  background-color: var(--accent-color);
  will-change: filter;
  transition: filter 300ms;
  cursor: pointer;
}

.authBtn:hover {
  filter: drop-shadow(0 0 0.5rem var(--accent-dark-color));
}

.authBtn a {
  color: white;
}

.createAccount {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* ---------- DASHBOARD STYLES ---------- */

.userEventList {
  margin: 1rem auto;
  max-width: 700px;
  text-align: start;
}

.createBtns {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* ---------- FORM STYLES ---------- */

.AddVenue, .AddEvent, .AddTicketType, .EditEvent form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 60%;
}

.EditEvent form {
  width: 90%;
}

/* --- Add red asterisk after required labels --- */
label.required::after {
  content: " *";
  color: red;
  font-weight: bold;
}

.formGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.25rem;
}

.formGroup label {
  text-align: start;
  width: 30%;
  display: block;
}

.formGroup input {
  width: 70%;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid var(--background-color);
}

.formGroup input:focus {
  outline: none;
  border-color: var(--accent-color);
  box-shadow: 0 0 0.5rem var(--accent-color);
}

textarea {
  width: 70%;
  max-width: 68.6%;
  min-width: 68.6%;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid var(--background-color);
}

.venueGroup {
  border: 1px solid var(--background-color);
  padding: 1rem;
  border-radius: 8px;
}

.createBtn, .updateBtn {
  background-color: var(--secondary-color);
  color: black;
  border: none;
  border-radius: 8px;
  margin: 1rem 0 2rem;
  padding: 0.5rem 1rem;
  will-change: filter;
  transition: filter 300ms;
  cursor: pointer;
}

.createBtn:hover {
  filter: drop-shadow(0 0 0.5rem var(--secondary-dark-color));
}

.createBtn a {
  color: black;
}

/* ---------- ALL EVENTS STYLES ---------- */
.AllEvents {
  padding: 0 1rem 1rem 1rem;
}

.allEventsList {
  margin: 0 auto;
  padding: 0;
  /* max-width: 800px; */
  width: 90%;
  text-align: start;
  list-style: none;
  color: var(--background-color);
}

.singleEvent {
  margin: 0.85rem auto;
  padding: 0.85rem 3rem;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border-radius: 20px;
  box-shadow: 0px 2.5px 10px rgba(35, 185, 217, 0.3);
  /* will-change: filter; */
  transition: all ease-in-out 300ms;
}

.singleEvent:hover {
  background: rgba(35, 185, 217, 0.7);
  /* filter: drop-shadow(0 0 0.5rem rgb(35, 185, 217)); */
}

.listHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.singleEventListGroup {
  display: flex;
  justify-content: space-between;
  /* gap: 2rem; */
  margin-bottom: 0.5rem;
  /* padding: 0; */
  list-style: none;
}

.singleEvent ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.venueDateBlock {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0 0.5rem 0;
  /* padding: 0.5rem 0; */
  border-radius: 8px;
  gap: 5%;
}

.venueBlock {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  justify-content: center;
  width: 60%;
  width: max-content;
  min-width: 40%;
  min-height: 7vh;
  padding: 0.5rem 1rem;
  border: 1px solid var(--background-color);
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 8px;
}

.venueBlock ul {
  margin-left: 1rem;
  text-align: start;
}

.dateBlock {
  width: 40%;
  width: max-content;
  min-width: 50%;
  margin: 0 auto;
}

#virtualEvent {
  align-self: center;
  justify-self: center;
}

/* ---------- FORM BUTTONS STYLES ---------- */
.formButtons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.dashboardBtn {
  background-color: var(--warning-dark-color);
  color: var(--text-color);
  border: none;
  border-radius: 8px;
  margin: 1rem 0 2rem;
  padding: 0.5rem 1rem;
  will-change: filter;
  transition: filter 300ms;
  cursor: pointer;
} 

.dashboardBtn:hover {
  filter: drop-shadow(0 0 0.5rem var(--warning-dark-color));
}

/* ---------- EVENT DETAILS STYLES ---------- */
.EventDetails {
  width: 100%;
}

.EventDetails header {
  margin: 0 auto;
  max-width: 700px;
}

.eventIconGroup {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}

.editIcon, .deleteEventItem, .deleteIcon {
  color: var(--background-color);
  font-size: 1.25rem;
  will-change: filter;
  transition: filter 300ms;
  cursor: pointer;
}

.editIcon:hover {
  filter: drop-shadow(0 0 0.5rem var(--background-color));
}

.deleteEventItem:hover {
  filter: drop-shadow(0 0 0.5rem var(--background-color));
}

.moreEventDetailsBlock {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 1rem auto;
  max-width: 700px;
}

.venueDetails {
  margin: 1rem auto;
  width: 70%;
  max-width: 700px;
  text-align: start;
}

.dateOrganizerCapacityBlock {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 1rem auto;
  width: 30%;
  max-width: 700px;
  text-align: start;
}

.venueLocation {
  display: flex;
  align-items: start;
  gap: 1rem;
}

.addressBlock {
  display: flex;
  gap: 0.25rem;
}

.optionsGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.vendorBtn {
  padding: 0.5rem 1rem;
  background-color: var(--text-color);
  color: var(--secondary-light-color);
  border: none;
  border-radius: 8px;
  will-change: filter;
  transition: filter 300ms;
  cursor: pointer;
}

.vendorBtn:hover {
  filter: drop-shadow(0 0 0.5rem var(--secondary-color));
}

.vendorDropdown {
  margin: 1rem auto;
  padding: 0.5rem;
  border: 1px solid var(--background-color);
  border-radius: 8px;
  background-color: var(--background-color);
  color: var(--text-color);
  width: 80%;
  max-width: 700px;
  text-align: start;
  font-size: 1rem;
} 

.notYourVendorSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
  gap: 1rem;
}

/* ---------- TICKET TYPES STYLES ---------- */

.ticketTypeItem {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid var(--background-color);
  border-radius: 50px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.ticketTypeItem h3 {
  margin: 0;
  margin-bottom: 0.5rem;
}

.ticketTypeBtnGroup, .sessionBtnGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

.ticketTypes {
  margin: 1rem auto;
  width: 80%;
  max-width: 700px;
  text-align: start;
}

.ticketTypesList {
  list-style: none;
  padding: 0;
  /* text-align: start; */
}

.ticketListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--background-color);
  border-radius: 8px;
  will-change: filter;
  transition: filter ease-in-out 300ms;
}

.ticketListItem:hover {
  filter: drop-shadow(0 0 0.5rem var(--background-color));
}

.qrCodeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.downloadBtn {
  margin: 1rem 0 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--secondary-light-color);
  color: var(--text-color);
  border: none;
  border-radius: 8px;
  will-change: filter;
  transition: filter 300ms;
  cursor: pointer;
} 

.downloadBtn a {
  color: var(--text-color);
}

.downloadBtn:hover {
  filter: drop-shadow(0 0 0.5rem var(--secondary-color));
}

.qrCodeContainer .deleteBtn {
  margin: 0.5rem 0 1.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--warning-color);
  color: var(--text-color);
  border: none;
  border-radius: 8px;
  will-change: filter;
  transition: filter 300ms;
  cursor: pointer;
}

.qrCodeContainer .deleteBtn:hover {
  filter: drop-shadow(0 0 0.5rem var(--warning-dark-color));
  border: none;
}

/* ---------- SESSION BUTTONS ---------- */

.sessionBtns {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.sessionList {
  margin: 1rem auto;
  width: 80%;
  max-width: 700px;
  text-align: start;
}

.SessionDetails ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.SessionDetails .sessionListItem {
  margin: 1rem 0;
  padding: 0.5rem 2rem;
  background-color: var(--secondary-color);
  color: var(--primary-darkest-color);
  border: 1px solid var(--background-color);
  border-radius: 8px;
  will-change: filter;
  transition: filter ease-in-out 300ms;
}

.SessionDetails .sessionListItem span {
  font-weight: bold;
}

.sessionListItem header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sessionIconGroup {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

/* ---------- SPEAKER CSS ---------- */
.EditSpeaker .buttonGroup {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.editSpeakerBtnGroup {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

/* ---------- PROFILE DETAILS ---------- */
.profileDetails {
  list-style: none;
  padding: 0;
  margin: 1rem auto;
  width: 80%;
  max-width: 700px;
}

.profileDetails li {
  margin: 0.5rem 0;
}

/* ---------- RESPONSIVE DESIGN ---------- */
@media (max-width: 960px) {

}

@media (max-width: 767px) {

  /* ---------- MODAL STYLES ---------- */
  .optionsGroup {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 75%;
  }

  .ticketTypeBtnGroup, .sessionBtnGroup {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
    width: 75%;
  }
}

@media (max-width: 575px) {

}