:root {
  --heading-font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --accent-font: "Courier New", Courier, monospace;
  --default-font: Arial, Helvetica, sans-serif;

  --primary-color: #113B6F;
  --secondary-color: #23B9D9;
  --background-color: #f6f6f6;
  --accent-color: #646cff;
  --warning-color: #ff6464;
  --text-color: #333333;

  width: 100vw;
  margin: 0 auto;
  background-color: var(--background-color);
  justify-self: start;
}

.App {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.AppContainer {
  height: 100vh;
  padding: 0.5rem 2rem 0 2rem;
  background-color: var(--primary-color);
}

.backBtn {
  margin: 0 auto;
  background: none;
  border: none;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1rem 2rem;
}

.logo {
  width: 8rem;
}

.gsIcon {
  width: 1.5rem;
  border-radius: 8px;
}

nav .logoutBtn {
  margin: 0 0.5rem;
  padding: 0;
}

.logoutBtn {
  margin: 1rem 0.5rem 0 0.5rem;
  padding: 0;
  width: 5.5rem;
  height: 2.25rem;
  border: 1px solid #ff6464aa;
  border-radius: 8px;
  background-color: var(--warning-color);
  will-change: filter;
  transition: filter 300ms;
  cursor: pointer;
}

.logoutBtn:hover {
  filter: drop-shadow(0 0 0.45rem #ff6464aa);
  border: 1px solid #ff6464aa;
}

.authHub {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  gap: 1.5rem;
  border: 1px solid #eee;
  border-radius: 12px;
}

.authForm {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1rem;
  align-items: center;
}

.authBtn {
  margin: 0.5rem;
  padding: 0.25rem 1.5rem;
  width: 7rem;
  height: 2rem;
  border-radius: 8px;
  background-color: #646cff;
  will-change: filter;
  transition: filter 300ms;
  cursor: pointer;
}

.authBtn:hover {
  filter: drop-shadow(0 0 0.5rem #646cffaa);
}

.authBtn a {
  color: white;
}

.createAccount {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* ---------- RESPONSIVE DESIGN ----------*/
@media (max-width: 960px) {

}

@media (max-width: 767px) {

}

@media (max-width: 575px) {

}